.cart{
  
    position: relative;
    left:40px;
    top:20px;
}
.card{
    margin-bottom: 20px;
    position:relative;
    background-color: transparent;
    
}
.filter{
    position: relative;
    left:40%;
    top:20px;
    margin:0 0 20px 0;
}
.box,.sort{
    background-color: rgba(0,0,0,0.8);
    margin:0 2px;
}
.sort{
    border:1px solid var(--gold);
    color:var(--gold);
}
.sort:hover{
    border:1px solid var(--gold);
    background-color: var(--gold);
    color:black;
}
.veg{
    position:absolute;
    z-index: 2;
    top:0px;
    right:5px;
}
.searcherror{
    position: relative;
    left:30vw;
    width: max-content;
    height:max-content;
}
img{
    width:cover;
    height:max-content;
}
@media all and (min-width: 241px) and (max-width: 480px){
    .cart{
  
        position: relative;
        left:20px;
        top:20px;
         }
         .card{
             height:80vh;
             left:20px;
         }
         .box{
             display: block;

         }
         .filter{
             position: relative;
            align-content: center;
             display: block;
         }
}