.container{
    position:relative;
    top:10vh;
    right:100px;
    display: flex;
    flex-direction: row;
    height:max-content;

    width: 60%;
    background-color:aliceblue;
    color:black;
    /* overflow:auto; */
    
}

.details{
    position: relative;
    left:20vw;
    text-align: center;
    display:grid;
    grid-template-rows: repeat(6,1fr);
    height:30px;
    
    top:2vh;
    
}
.cartbtn{
    position:relative;
    top:60vh;
    display: flex;
    flex-direction: row;
    gap: 20px;
    right:0vw;
    

}
button{
    width:8vw;
    height:5vh;
    background-color: black;
    color:aliceblue;
}
.imag{
    position: relative;
    top:20px;
   width:100px;
   height:100px;
    left:30px;
}
.imag>img{
    width:230px;
    height:230px;

}
.veg{
position:absolute;
left:15vw;
top:0;
}