.form-label{
    position: relative;
    left:0vw;
}
.container{
    border: 1px solid black;
    width:60vw;
    height:120vh;
    position: relative;
    top:20px;
    background-color: transparent;
    color:black;
}
.row {
    position: relative;
    left:10vw;
    top:20px;
}
input,select{
    border:none;
    transition: ease-in;
    animation: ease-in 2s  1s  right line;
    background-color: aliceblue;
    border:1px solid black;
}
.imgsi{
    min-width:100px;
    max-width: 150px;
    height:100px;
}
.btn-primary{
    margin-top:10px;
    width:10vw;
    height:7vh;
    background-color: transparent;
    color:black;
    border: 1px solid black;
}
.formbtn{
    width:2vw;
    height:5vh;
    margin:0 5px;
    border-radius: 3px;
}
.ingds{
    display: flex;
    align-items: center;
    gap:2px;
}
.ingds>.fa-trash-alt,.fa-plus-square{
    font-size:1.5vw;
}