<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
        <span>Forgot You Password?</span>
      </div>
  
      <!-- Login Form -->
      <form>
        <input [(ngModel)]="email" type="text" id="mail" class="fadeIn second" name="mail" placeholder="Enter your mail id">
        
        <input (click)="forgot()" name="forget" type="submit" class="fadeIn fourth" value="send password">
      </form>
      
  
    </div>
  </div>