.cart{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    left: 40px;
    top: 10px;
    margin: 5% 10px;
    max-height: 15vh;
}
.card{
    margin: 10px 10px;
    position: relative;
    left:20px;
    height:70vh;
    background-color: rgba(0,0,0,0.99);
 }
 .card-img-top{
     max-width:100%;
     height:50%;
 }
 .card-title,.card-text{
     color:var(--gold);
 }

.error{
    position: relative;
    top:10vh;
    left:20vw;
    width:80vw;
    height:80vh;
}
.imgerr{
    width:50vw;
    height:60vh;
}
.my-overlay {
    left: 0 !important;
    top: 0 !important;
    z-index: 10000 !important;
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    background-color: rgba(0,0,0,0.9) !important;
    cursor: pointer !important;
    visibility: visible !important;
    transition: visibility 0s, opacity 2s linear !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: wait !important;
     
}
.my-overlay i.fa.fa-circle-notch.fa-spin, .spinner-big {
    font-size: 100px !important;
}
.loader {
    
    border: 16px solid transparent;
  border-radius: 50%;
  border-top: 16px solid #ffdead;
  border-bottom: 16px solid #ffdead;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }