<div class="container">
    <div class="row main">
        <div class="main-login main-center">
        <h5>Sign up once and watch any of our free demos.</h5>
            <form class="" method="post" action="#">
                
                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Your Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input [(ngModel)]="users.name" type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Your Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input [(ngModel)]="users.email" type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input [(ngModel)]="users.password" type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
                        </div>
                    </div>
                </div>
              <label>{{message}}</label>
                <div class="form-group ">
                    <a (click)="signup()" target="_blank" type="button" id="button" class="btn btn-primary btn-lg btn-block login-button">Sign Up</a>
                </div>
                
            </form>
        </div>
    </div>
</div>