


<router-outlet></router-outlet>

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    <!-- <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Order Id</th>
        <th cope="col">Date</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Mode</th>
      </tr>
    </thead>
    <tbody *ngFor="let parcake of order; let i = index">
      <tr  (click)="details(i)">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ parcake.orderid }}</td>
        <td>{{ parcake.orderdate }}</td>
        <td>{{ parcake.name }}</td>
        <td>{{ parcake.price }}/-</td>
        <td>{{ parcake.mode }}</td>
      </tr>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Order Id</th>
          <th cope="col">Date</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Mode</th>
        </tr>
      </thead>
      <tbody class="hidden" id="cake{{i}}">
       <div class="hidden" id="cake{{i}}" > 
        <tr *ngFor="let peritem of parcake.cakes">
            <th scope="row"><img class="pic"src="{{ peritem.image }}" /></th>
            <td>{{ peritem.name }}</td>
            <td>{{ peritem.price }}</td>
            <td>{{ peritem.quantity }}</td>
            <td>{{ peritem.price }}/-</td>
            <td>{{ peritem.total }}</td>
          </tr>
        </tbody>
         </div> 
    </tbody>
  </table>
</div> -->

