td>.sizes{
    width:50px;
    height:50px;
}
.minus,.plus{
    width:10px;
    height:4px;
    border:1px solid #999;
}
.fa-plus-square,.fa-minus-square,.fa-trash-alt{
    size:3px;
    margin:10px,0px;
}
.fa-trash-alt{
    color:red;
}
.fa-trash-alt:hover{
    color:var(--gold);
    size:6px;
}
table{
    
        position: relative;
        min-width:200px;
        max-width: 80%;
        left:10%;
    
}
thead,tr{
    background-color: rgba(0,0,0,0.8);
    border:1px solid navajowhite;
    color:var(--gold);
}
 tr:hover{
    
    color:var(--gold)!important;
} 
@media all and (min-width: 241px) and (max-width: 480px){
    table{
    
        position: relative;
        min-width:80px;
        max-width: 30%;
        left:1%;
    
}
}